<!-- views/profile.ejs -->


    <title>Node Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>

<div class="container">

    <!-- Header -->
    <div class="border-bottom text-center">
        <h1><span class="fa fa-rocket"></span> Fuel Tracker</h1>
        <h5><span class="fa fa-user"></span> <%= user.local.email %></h5>
        <a href="/logout" class="btn btn-outline-dark">Logout</a>
    </div>
<br>
    <!-- Form  -->
    <div class="form-row text-center card card-body">
        <br>
        <div class="row">
            <div class="col">
                <input id="Kmetros" class="form-control" placeholder="Kilometraje">
                <br>
                <input id="litros" class="form-control" placeholder="Litros">
            </div>

            <div class="col">
                <input id="precio" class="form-control" placeholder="Costo Total">
                <br>
                <input id="precioxlitro" class="form-control" placeholder="Precio por Litro">
                <br>
                <input id="fecha" class="form-control" placeholder="Fecha">
                <br>
            </div>
        </div>
        <button id="enviar" class="btn btn-success">Enviar!</button>
    </div>
    <br>

    <div class="row">

        <!-- LOCAL County -->
        <div class="col">
            <div class="card card-body bg-light">
                <h3><span class="fa fa-bus"></span> County</h3>

                    <p>
                        DATA
                    </p>

            </div>
        </div>

        <!-- LOCAL H1 -->
        <div class="col">
            <div class="card card-body bg-light">
                <h3><span class="fa fa-bus"></span> User H1</h3>

                    <p>
                        DATA
                    </p>

            </div>
        </div>
    </div>

</div>
